@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Nunito:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: "Inter", "Nunito", sans-serif;
}

.topbar {
  background-color: #007fff;
  width: 100vw;
}

.topbar_text {
  font-family: "Inter";
  font-weight: 700;
  color: white;
  text-align: center;
  font-size: 1.6rem;
  padding: 1.9rem;
}

.navbar {
  padding: 2.1rem 0 3.1rem 0 !important;
  height: 100%;
}

.navbar_logo {
  padding-right: 5.5rem !important;
}

.nav-item {
  font-family: "Inter";
  font-weight: 500 !important;
  font-size: 1.5rem !important;
  padding: 0 3.7rem 0 0 !important;
  color: #17224d !important;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input::placeholder {
  font-size: 1.2rem;
  font-family: "Inter";
  color: #0a1a58;
  font-weight: 400;
}

.search-input {
  width: 100vw;
  max-width: 29rem;
}

.search::after {
  content: "";
  background-color: #007fff;
  background-image: url("./assets/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  z-index: 1;
}

input:focus {
  border-color: #007fff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.6);
}

.cart {
  border: 1px solid #007fff;
  padding: 0.8rem;
  border-radius: 0.8rem;
}

.cart-item {
  font-family: "Nunito";
  font-size: 1.6rem;
  font-weight: 700;
}

.rounded-pill {
  border: 1px solid #007fff !important;
}

.active {
  color: #007fff !important;
  font-weight: 700 !important;
  text-decoration: underline !important;
  text-decoration-skip-ink: none !important;
  text-decoration-thickness: 2px !important;
  padding-bottom: 8px;
}

/* hero section continues */

.banner {
  max-height: 50rem;
}

.banner_text-one {
  font-weight: 800;
  color: #17224d;
  font-size: 4rem;
  font-family: "Nunito";
}

.banner_text-two {
  color: #231f20;
  font-size: 2.6rem;
  font-family: "Nunito";
  font-weight: 500;
}
.carousel-caption {
  top: 3.6rem !important;
}
.carousel-control-prev,
.carousel-control-next {
  width: 9% !important;
}

a {
  text-decoration: none !important;
}

/* about section starts here */
.about-container {
  margin: 12.2rem 8.6rem;
}

.image-container {
  padding-right: 9rem;
}

.about {
  font-family: "Nunito";
}

.about_text {
  font-weight: bolder;
  color: #17224d;
  font-size: 4.5rem;
}

.about_para-container {
  padding: 1.5rem 0 5rem 0;
}
.about_para {
  font-size: 2.2rem;
  text-align: justify;
  font-weight: 400;
  font-family: "Nunito";
  color: #515151;
}

.about_button {
  background-color: #007fff;
  border: none;
  border-radius: 2.5rem;
  color: white;
  padding: 1rem;
  max-width: 16rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.checkmark-container {
  margin-bottom: 5rem;
}

.checkmark_text {
  font-size: 1.8rem;
  font-family: "Nunito";
  font-weight: 500;
  color: #515151;
}

/* services section starts here */

.services {
  font-family: "Nunito";
}
.services_header {
  
}

@media (max-width: 1200px) {
  .nav-item {
    font-size: 1.2rem !important;
    padding: 0 2.5rem 0 0 !important;
  }

  .search-input {
    max-width: 20rem;
  }
  .cart {
    border: 1px solid #007fff;
    padding: 1.6rem 1.716rem;
    border-radius: 0.8rem;
  }
}

@media (max-width: 2560px) {
  .navbar {
    padding: 2.5rem 0 3.5rem 0 !important;
  }
  .nav-item {
    padding: 0 3.7rem 0 0 !important;
  }
  .cart {
    border: 1px solid #007fff;
    padding: 1.6rem 1.716rem;
    border-radius: 0.8rem;
  }
}
