@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Nunito:wght@400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body{
  font-family: 'Inter','Nunito', sans-serif;
}
.topbar{
  background-color: #007FFF;
}

.topbar_text{
  font-family: 'Inter';
  font-weight: 700;
  color: white;
  text-align: center;
  font-size: 1.6rem;
  padding: 1.9rem;
}
