@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Nunito:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: "Inter", "Nunito", sans-serif;
}

.topbar {
  background-color: #007fff;
  width: 100vw;
}

.topbar_text {
  font-family: "Inter";
  font-weight: 700;
  color: white;
  text-align: center;
  font-size: 1.6rem;
  padding: 1.9rem;
}

.navbar {
  padding: 2.1rem 0 3.1rem 0 !important;
  height: 100%;
}

.navbar_logo {
  padding-right: 5.5rem !important;
}

.nav-item {
  font-family: "Inter";
  font-weight: 500 !important;
  font-size: 1.5rem !important;
  padding: 0 3.7rem 0 0 !important;
  color: #17224d !important;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input::placeholder {
  font-size: 1.2rem;
  font-family: "Inter";
  color: #0a1a58;
  font-weight: 400;
}

.search-input {
  width: 100vw;
  max-width: 29rem;
}

.search::after {
  content: "";
  background-color: #007fff;
  background-image: url("./assets/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  z-index: 1;
}

input:focus {
  border-color: #007fff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.6);
}

.cart {
  border: 1px solid #007fff;
  padding: 0.8rem;
  border-radius: 0.8rem;
}

.cart-item {
  font-family: "Nunito";
  font-size: 1.6rem;
  font-weight: 700;
}

.rounded-pill {
  border: 1px solid #007fff !important;
}

.active {
  color: #007fff !important;
  font-weight: 700 !important;
  text-decoration: underline !important;
  text-decoration-skip-ink: none !important;
  text-decoration-thickness: 2px !important;
  padding-bottom: 8px;
}

/* hero section continues */

.banner {
  max-height: 50rem;
}

.banner_text-one {
  font-weight: 800;
  color: #17224d;
  font-size: 4rem;
  font-family: "Nunito";
}

.banner_text-two {
  color: #231f20;
  font-size: 2.6rem;
  font-family: "Nunito";
  font-weight: 500;
}
.carousel-caption {
  top: 3.6rem !important;
}
.carousel-control-prev,
.carousel-control-next {
  width: 15% !important;
}

a {
  text-decoration: none !important;
}

/* about section starts here */
.about-container {
  margin: 12.2rem 8.6rem;
}

.image-container {
  padding-right: 9rem;
}

.about {
  font-family: "Nunito";
}

.about_text {
  font-weight: 800;
  color: #17224d;
  font-size: 4.5rem;
}

.about_para-container {
  padding: 1.5rem 0 5rem 0;
}
.about_para {
  font-size: 2.2rem;
  text-align: justify;
  font-weight: 400;
  font-family: "Nunito";
  color: #515151;
}

.about_button {
  background-color: #007fff;
  border: none;
  border-radius: 2.5rem;
  color: white;
  padding: 1rem;
  max-width: 16rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.checkmark-container {
  margin-bottom: 5rem;
}

.checkmark_text {
  font-size: 1.8rem;
  font-family: "Nunito";
  font-weight: 500;
  color: #515151;
}

/* services section starts here */

.services {
  font-family: "Nunito";
  padding: 0 8rem;
  margin-bottom: 13.521rem;
}
.services_header,
.breeds_header,
.blogs_header {
  font-weight: 800;
  color: #17224d;
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 0.6rem;
}

.services_para,
.breeds_para {
  color: #515151;
  font-weight: 500;
  font-size: 2.2rem;
  text-align: center;
}

.services-card {
  margin: 6.4rem 0 12.2rem 0;
  gap: 3.577rem;
}

.card {
  border-radius: 1.2rem !important;
}

.card_body {
  padding: 2.094rem 2.178rem 0 2.178rem !important;
}

.card_title {
  font-family: "Nunito" !important;
  font-size: 2rem !important;
  color: #17224d !important;
  font-weight: 800 !important;
  margin-bottom: 0.8rem;
}

.card_text {
  font-family: "Nunito";
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.btn-viewmore {
  font-size: 1.2rem;
  font-family: "Inter";
  font-weight: 600;
  border: none;
  color: white;
  border-radius: 0.5rem;
  background-color: #17224d;
  padding: 0.8rem 1.2rem;
  margin-bottom: 2.178rem;
}

/* breeds section starts here */

.breeds-card-container {
  padding: 6.4rem 6.7rem 3.2rem 6.7rem;
  gap: 1.6rem;
}

.breeds_image {
  padding: 0.8rem !important;
}

.breeds_card_body {
  padding-left: 1.4rem;
}

.breeds_card_title {
  font-family: "Nunito" !important;
  font-size: 1.6rem !important;
  color: #17224d !important;
  font-weight: 800 !important;
}

.breeds_card_text {
  padding-bottom: 1.7rem;
}

.breeds_gender {
  font-family: "Nunito";
  font-size: 1.2rem;
  font-family: 400;
  color: #515151;
}
.breeds_gender-value {
  color: #292929;
  font-weight: 700;
  font-size: 1.2rem;
}

.view-all-btn {
  font-size: 1.2rem;
  font-family: "Inter";
  font-weight: 600;
  border: none;
  color: white;
  border-radius: 25px;
  background-color: #007fff;
  padding: 0.95rem 0.9rem 0.95rem 2.7rem;
}

/* promotion section starts here */

/* .promotion-container {
  padding: 12.2rem 1.1rem;
} */

.promotion-container {
  background-image: url("./assets/promotion-image.png");
  margin: 12.2rem 1.1rem;
  background-size: cover;
  max-height: 32.8rem;
  background-position: center;
}

/* blogs section starts here */
.blogs {
  padding: 0 9.1rem 12.2rem 9.1rem;
}
.blogs-card {
  gap: 3.5rem;
  width: 100%;
}

.blogs_header {
  margin: 0;
  padding-bottom: 6.4rem;
}
.blog_image {
  padding-bottom: 1.6rem;
  border-radius: 1.6rem;
}

.blog_card {
  border: none !important;
}

.blog_card_title {
  font-family: "Inter";
  color: #000000;
  font-size: 1.8rem;
  font-weight: 800;
  padding-bottom: 0.8rem;
}

.blog_card_text {
  font-family: "Inter";
  color: #666666;
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 2.4rem;
}

@media (max-width: 1200px) {
  .nav-item {
    font-size: 1.2rem !important;
    padding: 0 2.5rem 0 0 !important;
  }

  .search-input {
    max-width: 20rem;
  }
  .cart {
    border: 1px solid #007fff;
    padding: 1.6rem 1.716rem;
    border-radius: 0.8rem;
  }
}

/* footer section starts here */
.footer {
  background-color: #17224d;
  padding: 7.4rem 0 9rem 8rem;
  font-family: "Nunito", sans-serif;
}
.footer_logo {
  max-width: 14.3rem;
  max-height: 5.8rem;
}

.footer_logo-container {
  margin-bottom: 8.8rem;
}
.footer_details-container {
  margin-bottom: 8.8rem;
}
.footer_number {
  margin-bottom: 3.9rem;
}
.copyright-text {
  color: #f5fafa;
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: 400;
}
.footer_text {
  font-family: "Nunito";
  font-size: 1.8rem;
  font-weight: 500;
  color: #f5fafa;
  text-align: left;
}
.footer_list {
  text-decoration: none;
  color: #f5fafa;
  list-style: none;
  font-family: "Inter";
}
.item_first {
  font-weight: 800;
  /* margin-bottom: 4rem; */
  margin-bottom: 1.5rem;
  color: #f5fafa;
  font-size: 2rem;
}
.footer_listitem {
  padding-bottom: 1.8rem;
  font-weight: 400;
  font-size: 1.8rem;
  color: #f5fafa;
}

.text_gallery {
  font-family: "Inter";
  font-size: 2rem;
  color: #f5fafa;
  font-weight: 700;
  margin-bottom: 3.1rem;
}
.footer_number,
.footer_location {
  color: #f5fafa;
}
.footer_key {
  font-family: "Inter";
  font-size: 1.8rem;
  color: #f5fafa;
  font-weight: 400;
}

.footer_value {
  font-size: 2rem;
  color: #f5fafa;
  font-family: "Inter";
  font-weight: 700;
}
.media-links {
  max-height: 3.5rem;
}
.media-links-container {
  margin-top: 1.9rem;
}

@media (max-width: 2560px) {
  .navbar {
    padding: 2.5rem 0 3.5rem 0 !important;
  }
  .nav-item {
    padding: 0 3.7rem 0 0 !important;
  }
  .cart {
    border: 1px solid #007fff;
    padding: 1.6rem 1.716rem;
    border-radius: 0.8rem;
  }
}
